:root {
	--inthegame-orange: #f59338;
	--inthegame-dark-orange: #d87d28;
	--inthegame-soft-black: #2e2e2e;
	--inthegame-teal: #21a0aa;
	--inthegame-gray: #565656;
	--inthegame-soft-gray: rgb(226, 226, 226);
	--form-height: 4rem;
	--card-hover: rgba(134, 197, 197, 0.732);
}

@font-face {
	font-family: Roboto-Light;
	src: url(./fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: Roboto-Medium;
	src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: Roboto-Bold;
	src: url(./fonts/Roboto-Bold.ttf);
}

.App {
	max-width: 100vw;
	font-family: Roboto-Light;
}

.navbar {
	max-width: 100%;
	height: var(--form-height);
	padding: 1rem 15rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	z-index: 1;
	top: 0;
	background-color: #f0f0f0;
}

.navbar_logo {
	width: 9.5rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar_logo img {
	width: 80%;
}

.navbar_links {
	width: 15rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar_links a {
	font-family: Roboto-Medium;
	font-size: 1.1em;
	color: var(--inthegame-orange);
	text-decoration: none;
	padding: 1rem 1.5rem;
	border-radius: 5rem;
	transition: color 0.3s;
}

#signup {
	color: white;
	background-color: var(--inthegame-orange);
	margin-left: 1rem;
}

.navbar_links a:hover {
	color: var(--inthegame-teal);
}

#signup:hover,
.popular-searches a:hover {
	background-color: var(--inthegame-teal);
}

.container {
	max-width: 100%;
	display: flex;
	padding: 0 15rem;
}

.left-side,
.right-side {
	width: 50%;
}

.left-side {
	margin-top: 3.5rem;
}

.left-side h1 {
	font-family: Roboto-Medium;
	font-weight: lighter;
	font-size: 3em;
	color: var(--inthegame-gray);
}

#marketplace-span {
	color: var(--inthegame-teal);
}

.left-side h5 {
	font-size: 2em;
	color: var(--inthegame-gray);
}

#hobbies-span,
#learn-span {
	color: var(--inthegame-orange);
}

.search-bar,
.popular-searches_container {
	margin-top: 6rem;
}

.search-bar p {
	margin-bottom: 1rem;
}

.search-bar form {
	width: 90%;
	height: var(--form-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--inthegame-soft-gray);
	border-radius: 4rem;
}

.search_input {
	font-family: Roboto-Light;
	width: 80%;
	height: 85%;
	font-size: 1.2em;
	margin-left: 2rem;
	background-color: transparent;
	border: 0;
}

.search_input:focus {
	outline: none;
}

.search_button {
	width: 15%;
	height: var(--form-height);
	padding: 0;
	background-color: var(--inthegame-teal);
	border: 0;
	border-radius: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search_button:hover {
	background-color: teal;
}

.search_button img {
	width: 30%;
}

.popular-searches_container {
	width: 80%;
}

.popular-searches {
	width: 80%;
	height: 3rem;
	margin-top: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.popular-searches a {
	font-size: 1.2em;
	text-decoration: none;
	padding: 1rem 1.5rem;
	color: white;
	background-color: var(--inthegame-orange);
	border-radius: 2rem;
}

.search_button,
.popular-searches a,
#signup {
	transition: background-color 0.3s;
}

.popular-searches_container p,
.search-bar p {
	font-size: 1.2em;
	font-weight: bold;
	color: var(--inthegame-gray);
}

.image-container {
	width: 100%;
	height: 80vh;
	position: relative;
	display: flex;
	align-items: center;
}

.image-container img {
	width: 100%;
}

#back-img {
	position: absolute;
	z-index: -1;
}

.front-img {
	position: absolute;
	top: 10%;
	left: 5%;
	opacity: 0;
	transform: scale(1.1);
	transition: opacity 2s ease-in-out;
}

.current {
	opacity: 1;
}

.search-container {
	max-width: 100%;
	margin-top: 4rem;
	padding: 0 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-nav {
	width: 100%;
	display: flex;
	padding: 0.5rem 0;
	align-items: center;
	font-size: 1.2em;
}

.search-nav h3 {
	width: auto;
	font-family: Roboto-Bold;
	color: var(--inthegame-orange);
	margin-right: 2rem;
}

#search-keyword {
	font-family: Roboto-Light;
	font-weight: lighter;
	color: var(--inthegame-soft-black);
}

.filter-container {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.filter-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}

.filter-item {
	display: flex;
}

.filter-item button,
#apply-filter {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	padding: 0.6rem 1.1rem;
	border-radius: 2rem;
	transition: 0.3s;
	margin-right: 1.3rem;
}

.filter-item button {
	background-color: var(--inthegame-orange);
}

.filter-item button:hover {
	background-color: var(--inthegame-dark-orange);
}

.filter-item button p {
	color: white;
	font-size: 1.1em;
	display: flex;
	align-items: center;
}

.filter-item button p::after {
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	margin-left: 0.5rem;
	border-left: 0.35rem solid transparent;
	border-right: 0.35rem solid transparent;
	border-top: 0.35rem solid white;
}

#apply-filter {
	color: white;
	background-color: var(--inthegame-teal);
}

#apply-filter:hover {
	background-color: teal;
}

.dropdown {
	width: auto;
	background-color: white;
	border-radius: 2rem;
	box-shadow: var(--card-hover) 0px 18px 50px -10px;
	z-index: 1;
	padding: 1.2rem 4rem 1.2rem 1.5rem;
	position: absolute;
	transform: translateY(3rem);
	font-size: 1.1em;
	display: none;
}

.dropdown.show {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

input[type="radio"] {
	width: 1.2rem;
	height: 1.2rem;
	margin-bottom: 1.5rem;
	margin-right: 0.5rem;
}

.dropdown span {
	font-weight: bolder;
	color: var(--inthegame-orange);
}

.no-tutor-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.no-tutor-container p {
	font-size: 1.5em;
	margin-top: 2rem;
	text-align: center;
}

.no-tutor-img {
	width: 25%;
	margin-top: 3rem;
	text-align: center;
}

.no-tutor-img img {
	width: 100%;
}

.search-results {
	width: 100%;
	margin: 2rem 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.tutor {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
	border-radius: 2rem;
	background-color: white;
	transition: all 0.2s;
}

.search-results .tutor:hover {
	cursor: pointer;
	transform: scale(1.05);
	box-shadow: var(--card-hover) 0px 18px 50px -10px;
}

.tutor-profile_picture {
	width: 30%;
}

.rating-star {
	width: 6%;
	margin-left: 0.5rem;
}

.tutor-details {
	width: 65%;
}

.tutor-details p {
	font-family: Roboto-Bold;
}

.tutor-name {
	font-size: 1.2em;
}

.tutor-name .detail-span {
	margin-left: 0.5rem;
}

.detail-span {
	font-family: Roboto-Light;
}

.detail,
.name-and-rating {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.tutor-details .remaining-details {
	display: block;
}

.remaining-details img {
	margin-right: 0.5rem;
}

.remaining-details:last-child {
	margin: 0;
}

.detail img {
	width: 8%;
}

.popup-container {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 2;
}

.popup-info {
	width: 50%;
	height: 90%;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 1;
	background-color: white;
	border-radius: 4rem;
}

.popup-info .remaining-details {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.popup-info img {
	width: 10%;
}

.dark-background {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 60%;
}

.error-container {
	max-width: 100%;
	padding: 0 15rem;
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.error-img {
	width: 20%;
	margin: 5rem 0;
}

.error-img img {
	width: 100%;
}

.error-container h3,
p {
	margin: 0;
	color: var(--inthegame-gray);
}
.error-container h3 {
	font-family: Roboto-Medium;
	font-weight: lighter;
	font-size: 4em;
}

.error-container p {
	font-size: 1.5em;
}
